@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kalam:wght@300;400;700&family=Pacifico&display=swap');
/* Variables */
:root {
  --background-color: rgb(255, 0, 0);
  --background-image: url("images/solar/background.png");
  --stinger-image: url("images/cafe/stinger.png");
  --font-color: rgb(255, 0, 0);
  --cell-background-color: rgba(187, 33, 33, 0.5);
  --cell-highlight-color: rgba(255, 46, 46, 0.5);
  --board-border-color: rgb(255, 31, 31);
  --board-background-color: rgb(255, 0, 0);
  --font-family: "Share Tech Mono", monospace;
  /* --background-color: rgb(0, 0, 0);
  --background-image: url("images/solar/background.png");
  --font-color: white;
  --cell-background-color: rgba(0, 0, 0, 0.5);
  --cell-highlight-color: rgba(78, 78, 78, .5);
  --board-border-color: rgba(255, 255, 255, 0);
  --board-background-color: rgba(255, 255, 255, 0);
  --font-family: "Share Tech Mono", monospace; */
  /* --font-family: "Rubik", sans-serif; */
}
/*************/



/* Page styles */
body {
  background: var(--gradient);
  background-image: var(--background-image);
  background-color: var(--background-color);
  color: var(--font-color);
  background-size: cover;
}
#head_title {
  text-align: center;
  font-family: var(--font-family);
  font-size: 4em;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  margin-top: 20px;
  margin-bottom: 10px;
}
#stinger-image {
  content: var(--stinger-image);
  position: absolute;
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
  z-index: -5;
  bottom: 0px;
  left: 0px;
  width: 300px;
  height: auto;
}

/* Menu styles */
#menu_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.menu_button {
	background-color:#f9f9f9;
  border: none;
	display:inline-block;
	cursor:pointer;
	color:#666666;
  border-radius: 4px;
	font-family: var(--font-family);
	font-size:1.5em;
  width:200px;
	padding:10px 15px;
	text-decoration:none;
  margin-left: 10px;
  margin-right: 10px;
}

#popup_bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
}
#popup_menu {
  position: fixed;
  width: 800px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -250px;
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-family: var(--font-family);
}
#close_popup_div {
  font-family: var(--font-family);
  background-color: rgb(172, 86, 86);
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 30px;
  height: 30px;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
#close_popup_div:hover {
  background-color: rgb(255, 75, 51);
}
#save-button-div {
  background-color: lightgray;
  position: absolute;
  border: 2px solid black;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
}
#save-button-div p {
  color: black;
  font-family: var(--font-family);
  padding: 0px 10px 0px 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}
#save-button-div:hover {
  background-color: lightblue;
}
 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
/* Game over */
#popup_gameoverbg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
}
#popup_gameover {
  position: fixed;
  width: 800px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -250px;
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-family: var(--font-family);
}
#re_game_button {
  border-radius: 4px;
  background-color: lightgray;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  bottom: 5px;
  cursor: pointer;
}
#re_game_button p {
	color:#666666;
  font-family: var(--font-family);
  padding: 10px 20px 10px 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}
#re_game_button:hover {
  background-color: lightblue;
}

/* Board styles */
#gameboard {
  padding: 0px;
  width: 640;
  height: 640;
  border: 5px var(--board-border-color) solid;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--board-background-color);
}
.game_board img {
  position: absolute;
  width: 200px;
  height: 200px;
}
.game_board {
  padding: 0px;
  margin: 0px;
}
.cell {
  margin: 5px;
  padding: 0px;
  width: 200px;
  height: 200px;
  background-color: var(--cell-background-color);
  display: inline-block;
  cursor: pointer;
  background-size: cover;
}
.cell:hover {
  box-shadow: inset 0px 0px 0px 5px var(--cell-highlight-color);
}
.pieceHover {
  opacity: 0.7;
  filter: drop-shadow(5px 5px 5px black);
  animation-name: floating;
	animation: hover 10s ease-in-out infinite;
	img { width: 100%; height: auto; }
}
@keyframes hover {
  0% {
    transform: translate(4px, 4px);
    transform: rotate(0deg);
	}
	25% {
    transform: translate(4px, 2px);
    transform: rotate(2deg);
	}
  50% {
		transform: translate(-4px, 2px);
    transform: rotate(-4deg);
  }
  75% {
    transform: translate(4px, 4px);
    transform: rotate(2deg);
  }
	100% {
    transform: translate(0px, 0px);
    transform: rotate(0deg);
	}
}









